{% extends 'base.html.twig' %}

{% block body %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    <div class="row first-content">
        <div class="container content">
            <div class="row">
                {% if currentUserProfile is defined %}
                <h1 class="first-title">Votre profil</h1>
                {% else %}
                <h1 class="first-title">Profil utilisateur</h1>
                {% endif %}
            </div>

            <div class="row" style="border-bottom: 3px solid #465362; margin-bottom: 50px">

            </div>

            <div class="row">
                <div class="form-signin col-md-6 offset-3"  style="text-align: center;">

                    <!-- Section: Basic Info -->
                    <section class="card profile-card mb-4 text-center">
                        <div class="avatar z-depth-1-half">
                            <img src="{{ asset(profileuser.ppicturepath) }}" alt="" class="img-fluid">
                        </div>
                        <!-- Card content -->
                        <div class="card-body">
                            <!-- Title -->
                            <h4 class="card-title"><strong>{{ profileuser.prenom }} {{ profileuser.nom }}</strong></h4>

                            <p class="dark-grey-text">{{ profileuser.username }}</p>

                            Genres favoris :
                            {% if profileuser.favgenres != '' %}
                                {% set favgenres = profileuser.favgenres|split(';') %}
                                {% for favgenre in favgenres %}
                                    <h6 class="btn heavy-rain-gradient text-lowercase" style="border-radius: 25px; padding:.25rem .5rem; font-size: 0.725rem;">{{ favgenre }}</h6>
                                {% endfor %}
                            {% else %}
                                <span class="grey-text">Aucun spécifié</span>
                            {% endif %}



                            <br><br>
                            <i>Inscrit le : {{ profileuser.dateinscription|date("d/m/Y") }}</i>
                            <br>

                            <!-- Social -->
                            <a type="button" class="btn-floating btn-sm heavy-rain-gradient waves-effect"><i class="fa fa-envelope-o black-text"></i> </a>{{ profileuser.mail }}



                            <br>
                            {% set isfriend = 0 %}
                            {% for ami in user.amis %}
                                {% if ami.username == profileuser.username %}
                                    {% set isfriend = 1 %}
                                {% endif %}
                            {% endfor %}

                            {% if currentUserProfile is defined %}
                            <button type="button" class="btn tempting-azure-gradient btn-rounded btn-sm waves-effect" data-toggle="modal" data-target="#modalContactUser">Modifier vos infos<i
                                        class="fa fa-pencil-square-o ml-2"></i></button>
                            <a type="button" href="{{ path('User.customize') }}" class="btn tempting-azure-gradient btn-rounded btn-sm waves-effect">Customiser le profil <i class="fas fa-paint-brush"></i></a>
                            {% else %}
                                {% if isDemandeSent is defined %}
                                    <a type="button" class="btn tempting-azure-gradient black-text btn-rounded btn-sm waves-effect" >Demande envoyée</a>
                                {% elseif isfriend == 1 %}
                                    <a type="button" class="btn btn-fb white-text btn-rounded btn-sm waves-effect" >Vous êtes amis</a> <a type="button" class="btn btn-green dark-text btn-rounded btn-sm waves-effect" href="{{ path('Conv.createconv', {cible: profileuser.username}) }}">Envoyer un message</a>
                                {% else %}
                                    <a type="button" class="btn tempting-azure-gradient black-text btn-rounded btn-sm waves-effect" href="{{ path('User.demandeami', {userName: profileuser.username}) }}" >Demander en ami</a>
                                {% endif %}

                            {% endif %}


                            {% if is_granted('ROLE_ADMIN') %}
                                <a type="button" class="btn btn-danger btn-rounded btn-sm waves-effect">Bannir l'utilisateur</a>
                            {% endif %}
                        </div>

                    </section>
                    <!-- Section: Basic Info -->


                </div>
            </div>

            <h2 class="text-center" style="margin-bottom: 25px;">Activité</h2>
            <div class="row" style="padding-bottom: 150px">
                <div class="col-md-6" style="border-right: 3px solid #465362;">
                    <h3>Publication{% if profileuser.publications|length > 1 %}s{% endif %}</h3>
                    <div class="form-signin col-md-12"  style="text-align: center;">

                        {% if profileuser.publications|length > 0 %}

                            {% for publication in profileuser.publications|reverse %}


                                <!-- Card -->
                                <div class="card">
                                    <div  style="text-align: right;">
                                        <div class="dropdown">
                                            <a class="btn-floating btn-rounded btn-sm btn-info dropdown-toggle" type="button" id="dropdownMenu{{ publication.id }}" data-toggle="dropdown"
                                               aria-haspopup="true" aria-expanded="false" style="text-align: right; position: absolute; right: 0;" title="Action"><i class="fas fa-angle-down"></i></a>

                                            <div class="dropdown-menu dropdown-danger">
                                                {% if user.id == publication.auteur.id %}
                                                    <a class="dropdown-item" href="{{ path('User.deletePublication', {id: publication.id, authorid: publication.auteur.id}) }}">Supprimer la publication</a>
                                                {% else %}
                                                    <a class="dropdown-item" href="{{ path('User.signalement', {idpubli: publication.id}) }}">Signaler la publication</a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Card content -->
                                    <div class="card-body">

                                        <!-- Title -->
                                        <a class="black-text" href="{{ path('User.profil', {userName: publication.auteur.username}) }}">
                                            <h4  class="card-title" style="text-align: left;">
                                                <img src="{{ asset(publication.auteur.ppicturepath) }}" alt="" height="50px" width="50px" class="img-fluid"> {{ publication.auteur.nom }} {{ publication.auteur.prenom }}

                                            </h4>
                                        </a>

                                        <hr>
                                        <!-- Text -->
                                        <a href="{{ path('User.showPublication', {idpubli: publication.id}) }}">
                                            <div>
                                                <p class="card-text">{{ publication.contenu|nl2br }}</p>

                                                {% if publication.songlinked is not null %}
                                                    <iframe style="margin-bottom: 10px" src="https://open.spotify.com/embed/track/{{ publication.songlinked }}" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                                                {% endif %}
                                            </div>
                                        </a>

                                    </div>
                                    {% set isliked = 0 %}
                                    {% for like in publication.likes %}
                                        {% if like.user.id == user.id %}
                                            {% set isliked = 1 %}
                                        {% endif %}
                                    {% endfor %}

                                    {% set isdisliked = 0 %}
                                    {% for dislike in publication.dislikes %}
                                        {% if dislike.user.id == user.id %}
                                            {% set isdisliked = 1 %}
                                        {% endif %}
                                    {% endfor %}
                                    <!-- Card footer -->
                                    <div class="rounded-bottom mdb-color lighten-3 text-center pt-3">
                                        <ul class="list-unstyled list-inline font-small">
                                            <li class="list-inline-item pr-2 white-text"><i class="fa fa-clock-o"></i> {{ "now"|date("d/m/Y") }}</li>
                                            <li class="list-inline-item pr-2"><a href="{{ path('User.showPublication', {idpubli: publication.id}) }}" class="white-text"><i
                                                            class="fa fa-comments pr-1"></i>{{ publication.commentaires|length }}</a></li>
                                            <li class="list-inline-item pr-2 white-text"><a href="{{ path('User.like', {idpubli: publication.id, profile: profileuser.username}) }}" class="{% if isliked == 1 %} blue-text {% else %} white-text {% endif %}" ><i class="fa fa-thumbs-o-up pr-1">
                                                    </i></a>{{ publication.likes|length }}</li>
                                            <li class="list-inline-item white-text"><a href="{{ path('User.dislike', {idpubli: publication.id, profile: profileuser.username}) }}" class="{% if isdisliked == 1 %} red-text {% else %} white-text {% endif %}"><i class="fa fa-thumbs-o-down pr-1"> </i></a>{{ publication.dislikes|length }}</li>
                                        </ul>
                                    </div>

                                </div>

                                <br><br>

                            {% endfor %}
                        {% else %}
                            <h4> Pas de publications.</h4>
                        {% endif %}

                    </div>
                </div>

                <div class="col-md-6">
                    <h3>Liké récemment</h3>


                    {% if profileuser.likes|length == 0 %}
                    <h4> Pas de likes récents.</h4>
                    {% else %}
                        {% for like in profileuser.likes %}
                            <h4>{{ profileuser.username }} a aimé une publication de {{ like.publication.auteur.username }} : </h4>
                            <h5>"<i>{{ like.publication.contenu }}</i>"</h5>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>






{% endblock %}
