{% extends 'base.html.twig' %}

{% block body %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}


    <div class="row" style="padding-bottom: 150px">
        <div class="container content">
            <div class="row">
                <h1 class="first-title">Bienvenue sur votre fil d'actualité  {{ user.username }}</h1>
            </div>
            <div class="row">
                <h5 class="first-title"> Vous retrouverez ici différentes publications</h5>
            </div>

            <div class="row" style="border-bottom: 3px solid #465362; margin-bottom: 50px">

            </div>



            <div class="row">
                <div class="form-signin col-md-6 offset-3"  style="text-align: center;">

                    {% if publications is defined %}

                       {% for publication in publications %}


                    <!-- Card -->
                    <div class="card">
                            <div  style="text-align: right;">
                                <div class="dropdown">
                                    <a class="btn-floating btn-rounded btn-sm btn-info dropdown-toggle" type="button" id="dropdownMenu{{ publication.id }}" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false" style="text-align: right; position: absolute; right: 0;" title="Action"><i class="fas fa-angle-down"></i></a>

                                    <div class="dropdown-menu dropdown-danger">
                                        {% if user.id == publication.auteur.id %}
                                            <a class="dropdown-item" href="{{ path('User.deletePublication', {id: publication.id, authorid: publication.auteur.id}) }}">Supprimer la publication</a>
                                        {% else %}
                                        <a class="dropdown-item" href="{{ path('User.signalement', {idpubli: publication.id}) }}">Signaler la publication</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        <!-- Card content -->
                        <div class="card-body">

                            <!-- Title -->
                            <a class="black-text" href="{{ path('User.profil', {userName: publication.auteur.username}) }}">
                            <h4  class="card-title" style="text-align: left;">
                                {{ publication.auteur.nom }} {{ publication.auteur.prenom }}

                            </h4>
                            </a>

                            <hr>
                            <!-- Text -->
                            <a href="{{ path('User.showPublication', {idpubli: publication.id}) }}">
                            <div>
                            <p class="card-text">{{ publication.contenu|nl2br }}</p>

                            {% if publication.songlinked is not null %}
                                <iframe style="margin-bottom: 10px" src="https://open.spotify.com/embed/track/{{ publication.songlinked }}" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                            {% endif %}
                            </div>
                            </a>

                        </div>
                        {% set isliked = 0 %}
                        {% for like in publication.likes %}
                            {% if like.user.id == user.id %}
                                {% set isliked = 1 %}
                            {% endif %}
                        {% endfor %}

                        {% set isdisliked = 0 %}
                        {% for dislike in publication.dislikes %}
                            {% if dislike.user.id == user.id %}
                                {% set isdisliked = 1 %}
                            {% endif %}
                        {% endfor %}
                        <!-- Card footer -->
                        <div class="rounded-bottom mdb-color lighten-3 text-center pt-3">
                            <ul class="list-unstyled list-inline font-small">
                                <li class="list-inline-item pr-2 white-text"><i class="fa fa-clock-o"></i> {{ publication.datepublication|date("d/m/Y") }}</li>
                                <li class="list-inline-item pr-2"><a href="{{ path('User.showPublication', {idpubli: publication.id}) }}" class="white-text"><i
                                                class="fa fa-comments pr-1"></i>{{ publication.commentaires|length }}</a></li>
                                <li class="list-inline-item pr-2 white-text"><a href="{{ path('User.like', {idpubli: publication.id}) }}" class="{% if isliked == 1 %} blue-text {% else %} white-text {% endif %}" ><i class="fa fa-thumbs-o-up pr-1">
                                        </i></a>{{ publication.likes|length }}</li>
                                <li class="list-inline-item white-text"><a href="{{ path('User.dislike', {idpubli: publication.id}) }}" class="{% if isdisliked == 1 %} red-text {% else %} white-text {% endif %}"><i class="fa fa-thumbs-o-down pr-1"> </i></a>{{ publication.dislikes|length }}</li>
                            </ul>
                        </div>

                        {% if publication.commentaires|length > 0 %}
                            <a class="text-info" href="{{ path('User.showPublication', {idpubli: publication.id}) }}">Voir les commentaires</a>
                            <div class="row">
                                <div class="col-md-12 col-md-offset-2 col-sm-12">
                                    <div class="comment-wrapper">
                                        <div class="panel panel-info">
                                            <div class="panel-body">
                                                <div class="clearfix"></div>
                                                <hr style="margin-top: 5px; margin-bottom: 5px">
                                                <ul id="comments" class="media-list">

                                                    {% if publication.commentaires|length > 1 %}
                                                    {% set commentaire = publication.commentaires|reverse[1] %}
                                                        <div class="dropdown">
                                                            <a class="text-info" id="dropdownMenu{{ commentaire.id }}" data-toggle="dropdown"
                                                               aria-haspopup="true" aria-expanded="false" style="z-index: 10; top: 0;right: 0; float: right; margin: 0; margin-right: 15px;"><i class="fas fa-angle-down"></i></a>
                                                            <div class="dropdown-menu dropdown-default">
                                                                {% if user.id == commentaire.user.id or is_granted('ROLE_ADMIN') or user.id == publication.auteur.id %}
                                                                    <a class="dropdown-item" href="{{ path('User.deleteCom', {idpubli: publication.id, idcom: commentaire.id}) }}">Supprimer le commentaire</a>
                                                                {% endif %}
                                                                <a class="dropdown-item" href="{{ path('User.signalement', {idpubli: publication.id}) }}">Signaler le comentaire</a>
                                                            </div>
                                                        </div>
                                                        <li class="media">

                                                            <a href="#" class="pull-left">
                                                                <img src="{{ asset('images/defaultpp.png') }}" alt="" class="rounded-circle z-depth-1-half">
                                                            </a>
                                                            <div class="media-body">
                                                                <strong class="text-default">{{ commentaire.user.prenom }} {{ commentaire.user.nom }}</strong>
                                                                <h6>
                                                                    {{ commentaire.contenu|nl2br }}
                                                                </h6>
                                                                <span class="text-muted pull-right">
                                                                <small class="text-muted"></small>
                                                            </span>
                                                            </div>
                                                        </li>
                                                    {% endif %}
                                                    {% set commentaire = publication.commentaires|reverse[0] %}
                                                    <div class="dropdown">
                                                        <a class="text-info" id="dropdownMenu{{ commentaire.id }}" data-toggle="dropdown"
                                                           aria-haspopup="true" aria-expanded="false" style="z-index: 10; top: 0;right: 0; float: right; margin: 0; margin-right: 15px;"><i class="fas fa-angle-down"></i></a>
                                                        <div class="dropdown-menu dropdown-default">
                                                            {% if user.id == commentaire.user.id or is_granted('ROLE_ADMIN') or user.id == publication.auteur.id %}
                                                                <a class="dropdown-item" href="{{ path('User.deleteCom', {idpubli: publication.id, idcom: commentaire.id}) }}">Supprimer le commentaire</a>
                                                            {% endif %}
                                                            <a class="dropdown-item" href="{{ path('User.signalement', {idpubli: publication.id}) }}">Signaler le comentaire</a>
                                                        </div>
                                                    </div>
                                                    <li class="media">

                                                        <a href="#" class="pull-left">
                                                            <img src="{{ asset('images/defaultpp.png') }}" alt="" class="rounded-circle z-depth-1-half">
                                                        </a>
                                                        <div class="media-body">
                                                            <strong class="text-default">{{ commentaire.user.prenom }} {{ commentaire.user.nom }}</strong>
                                                            <h6>
                                                                {{ commentaire.contenu|nl2br }}
                                                            </h6>
                                                            <span class="text-muted pull-right">
                                                                <small class="text-muted"></small>
                                                            </span>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        {% endif %}
                    </div>


                    <br><br>

                    {% endfor %}
                    {% else %}
                        Il n'y a pas de publications à afficher. Essayez d'ajouter d'autres amis !
                    {% endif %}


                </div>
            </div>
        </div>
    </div>



{% endblock %}
