{% extends 'base.html.twig' %}

{% block body %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-bottom: -0px">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}

    {% for message in app.flashes('confirm') %}
        <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-bottom: -0px">
            {{ message }} (Cliquez <a class="alert-link" href="{{ path('app_login') }}">ici</a> pour vous connecter)
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}

    <style>
        html,
        body,
        header,
        .jarallax {
            height: 100%;
        }

        @media (min-width: 560px) and (max-width: 740px) {

            html,
            body,
            header,
            .jarallax {
                height: 600px;
            }

        }

    </style>

    <div id="home" class="view jarallax" data-jarallax='{"speed": 0.2}'
         style="background-image: url('{{ asset('images/covers2.jpg') }}'); background-repeat: no-repeat; background-size: cover; background-position: center center;">

        <div class="mask rgba-blue-grey-light" style="backdrop-filter: blur(0.9); height: 100%;">



            <div class="container h-100 d-flex justify-content-center align-items-center">



                <div class="row smooth-scroll text-center">
                    <div class="col-md-12 text-center wow fadeIn" style="margin-bottom: 25px">
                        <img class="" style="display: inline" src="{{ asset('images/logo.png') }}" height="100%" width="25%">
                    </div>

                    <br>

                    <div class="col-md-12 text-center">
                        <div class="card col-md-8 offset-md-2 rgba-white-strong text-center">
                            <div class="card-body col-md-12">
                                <div class="col-md-12">
                                    <div class="white-text text-center align-content-center ">
                                        <h1 class="font-weight-bold black-text wow fadeIn" data-wow-delay="0.2s">Bienvenue sur</h1>

                                        <h1 class="display-2 mb-4 black-text wow fadeIn" data-wow-delay="0.4s"><strong>MusicMate</strong></h1>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="white-text text-center align-content-center ">
                                        <a href="{{ path('app_login') }}" class="btn btn-pastelgreen  my-2 my-sm-0 wow fadeInLeft" data-wow-delay="0.6s">
                                            <i class="fa fa-sign-in"></i>
                                            Se Connecter
                                        </a>

                                        <a href="{{ path('User.register') }}" class="btn btn-pastelprimary my-2 my-sm-0 wow fadeInRight" data-wow-delay="0.6s">
                                            <i class="fa fa-user-plus"></i>
                                            Créer un compte
                                        </a>
                                    </div>

                                    <br>

                                    <div class="col-md-12">
                                        <div class="text-center align-content-center">
                                            <a href="#welcome" class="btn btn-rounded btn-sm rgba-yellow-strong wow fadeInUp" data-wow-delay="0.6s"
                                               data-offset="100">En <br> savoir plus <br> <i class="fas fa-angle-down" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




            </div>

        </div>

    </div>
        <div class="container content">
            <div  id="welcome" class="row" style="margin-top: 15px">
                <h1 class="first-title">Qu'est ce qu'est MusicMate, me direz-vous ?</h1>
            </div>
            <div class="row text-center justify-content-center align-items-center">
                <div class="col-md-12" style="margin-top: 30px;margin-bottom: 20px;">
                    <img class="" style="display: inline" src="{{ asset('images/questionmark.png') }}" height="25%" width="25%%">
                </div>
                <div class="col-md-4" style="border-bottom: 3px solid #465362; margin-bottom: 20px;"></div>
                <div class="col-md-12">
                    <h4 class="first-title">En fait c'est très simple.</h4>
                    <br>
                    <h5 class="first-title" style="margin-bottom: 20px;">Ce réseau social va vous permettre de faire plusieurs choses </h5>
                </div>
            </div>

            <!-- First row -->
            <div class="row features-big text-center wow fadeIn">

                <!-- First column -->
                <div class="col-md-4 mb-5">

                    <!-- Panel -->
                    <div class="card card-body hoverable wow fadeInLeft" data-wow-delay="0.6s">

                        <i class="fas fa-users fa-3x mb-4" aria-hidden="true"></i>

                        <h5 class="font-weight-bold text-uppercase mb-4">Rencontres</h5>

                        <p class="dark-grey-text">Rencontrez des personnes en fonction de vos goûts musicaux, et faites vous de nouveaux amis !</p>

                    </div>
                    <!-- Panel -->

                </div>
                <!-- First column -->

                <!-- Second column -->
                <div class="col-md-4 mb-5">

                    <!-- Panel -->
                    <div class="card card-body blue lighten-4 hoverable wow fadeInUp" data-wow-delay="0.6s">

                        <i class="fas fa-music fa-3x mb-4" aria-hidden="true"></i>

                        <h5 class="font-weight-bold text-uppercase mb-4">Découvertes</h5>

                        <p class="dark-grey-text">Faites de nouvelles découvertes musicales, grâce aux autres membres du réseau social<br><br></p>

                    </div>
                    <!-- Panel -->

                </div>
                <!-- Second column -->

                <!-- Third column -->
                <div class="col-md-4 mb-5">

                    <!-- Panel -->
                    <div class="card card-body hoverable wow fadeInRight" data-wow-delay="0.6s">

                        <i class="fas fa-handshake fa-3x mb-4" aria-hidden="true"></i>

                        <h5 class="font-weight-bold text-uppercase mb-4">Partage</h5>

                        <p class="dark-grey-text">Partagez vos découvertes, vos écoute du moment, et bien plus encore !<br><br></p>

                    </div>
                    <!-- Panel -->

                </div>
                <!-- Third column -->

            </div>
            <!-- First row -->



            <div class="row text-center">
                <div class="container">
                    <h2>Et ce n'est pas tout. D'autres choses vous attendent, alors qu'attendez vous ?</h2>
                    <div class="row" style="border-bottom: 3px solid #465362; margin-bottom: 50px;margin-top: 20px;">

                    </div>
                    <h4><i>Envie de comprendre encore mieux le site ?</i>
                        <br>
                        <i>Jetez un coup d'oeil à la </i>
                        <a href="{{ path('Index.faq') }}" type="button" title="Foire Aux Questions" class="btn btn-rounded blue lighten-4">FAQ</a>
                    </h4>
                    <br><br>

                    <div id="spotify-test">

                    </div>
                </div>
            </div>



        </div>

    <div class="row transition col-12" style="margin: 0; padding: 0">
        <a href="" class="col-12" style="margin: 0; padding: 0">
            <img src="" style="width: 100%">
        </a>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function (event) {
            document.getElementById("footer").classList.remove('stikybottom');

        }, false);
    </script>
{% endblock %}

