{% extends 'base.html.twig' %}

{% block title %}MusicMate - F.A.Q.{% endblock %}

{% block body %}
    <style>
        html,
        body,
        header,
        .jarallax {
            height: 700px;
            min-height: 700px;
        }
        @media (max-width: 450px) {
            html,
            body,
            header,
            .jarallax {
                height: 700px;
                min-height: 700px;
            }
        }
        @media (min-width: 451px) and (max-width: 740px) {
            html,
            body,
            header,
            .jarallax {
                height: 500px;
                min-height: 500px;
            }
        }
        @media (min-width: 800px) and (max-width: 850px) {
            html,
            body,
            header,
            .jarallax {
                height: 550px;
                min-height: 550px;
            }
        }

        html {
            scroll-behavior: smooth;
        }
        html {
            scroll-padding-top: 90px; /* height of sticky header */
        }


    </style>
    <script>
        var shiftWindow = function() { scrollBy(0, -50) };
        if (location.hash) shiftWindow();
        window.addEventListener("hashchange", shiftWindow);
    </script>

    <header>
    <!-- Intro Section -->
    <div class="view jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url('https://www.j-26.com/assets/essential-seo-widget-faqs.jpg');">
        <div class="mask rgba-indigo-light">
            <div class="container h-100 d-flex justify-content-center align-items-center">
                <div class="row pt-5 mt-3">
                    <div class="col-md-12 wow fadeIn mb-3">
                        <div class="text-center white-text">
                            <ul class="list-unstyled ">
                                <li>
                                    <h1 class="display-4 mt-md-5 mt-lg-0 mb-5 font-weight-bold white-text wow fadeIn"
                                        data-wow-delay="0.3s">
                                        <strong>
                                            MANUEL UTILISATEUR</strong>
                                    </h1>
                                </li>
                                <li>
                                    <h5 class="white-text description mb-5 wow fadeIn" data-wow-delay="0.4s">Cette page a pour vocation
                                        d'être un manuel utilisateur sous forme de F.A.Q. <br>
                                        Ce dernier vous aidera à mieux vous répérer et à mieux comprendre le site.
                                    </h5>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </header>
    <!-- Navigation & Intro -->

    <!-- Main content -->
    <main>

        <div class="container">

            <!-- Section: FAQ 1 -->
            <section class="mt-3 mb-5 pt-1 pb-5">

                <!-- Section heading -->
                <h3 class="text-center title my-5 pt-4 pb-5 dark-grey-text font-weight-bold wow fadeIn" data-wow-delay="0.2s">
                    <strong>Questions récurrentes</strong>
                </h3>

                <!-- Grid row -->
                <div class="row wow fadeIn" data-wow-delay="0.4s">

                    <!-- Grid column -->
                    <div class="col-md-4 mb-5 text-center">

                        <!-- Panel -->
                        <div class="text-left">
                            <p class="title font-weight-bold dark-grey-text text-uppercase spacing mt-4 mx-4">
                                <i class="fas fa-compact-disc text-default mr-2 wow fadeInLeft" data-wow-delay="0.5s" aria-hidden="true"></i>
                                <strong>Le site est-il facile d'accès?</strong>
                            </p>
                            <p class="grey-text font-small mx-4">Oui ! L'inscription classique est rapide, et si vous ne trouvez pas ça assez rapide, vous pouvez également vous inscrire avec Google / Facebook
                            </p>
                        </div>
                        <!-- Panel -->

                    </div>
                    <!-- Grid column -->

                    <!-- Second column -->
                    <div class="col-md-4 mb-5 text-center">

                        <!-- Panel -->
                        <div class="text-left">
                            <p class="title font-weight-bold dark-grey-text text-uppercase spacing mt-4 mx-4">
                                <i class="fas fa-compact-disc text-default mr-2 wow fadeInLeft" data-wow-delay="0.6s" aria-hidden="true"></i>
                                <strong>Dois-je avoir certains goûts musicaux?</strong>
                            </p>
                            <p class="grey-text font-small mx-4">MusicMate est une plateforme communautaire, il n'y a pas de barrière, et il y a de la place pour les goûts et les couleurs de tout le monde !
                            </p>
                        </div>
                        <!-- Panel -->

                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-4 mb-5 text-center">

                        <!-- Panel -->
                        <div class="text-left">
                            <p class="title font-weight-bold dark-grey-text text-uppercase spacing mt-4 mx-4">
                                <i class="fas fa-compact-disc text-default mr-2 wow fadeInLeft" data-wow-delay="0.7s" aria-hidden="true"></i>
                                <strong>J'ai peur de ne pas m'y retrouver</strong>
                            </p>
                            <p class="grey-text font-small mx-4">Pas d'inquiétudes, MusicMate est basé sur les codes de la plupart des réseaux sociaux, afin que ce dernier soit utilisable par la majorité. <br>
                                (Et si tout de même il a des éléments que vous ne comprenez pas, allez voir la section <a href="#qea">Questions/Réponses</a> )
                            </p>
                        </div>
                        <!-- Panel -->

                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row -->

                <!-- Grid row -->
                <div class="row wow fadeIn" data-wow-delay="0.4s">

                    <!-- Grid column -->
                    <div class="col-md-4 mb-5 text-center">

                        <!-- Panel -->
                        <div class="text-left">
                            <p class="title font-weight-bold dark-grey-text text-uppercase spacing mt-4 mx-4">
                                <i class="fas fa-compact-disc text-default mr-2 wow fadeInLeft" data-wow-delay="0.5s" aria-hidden="true"></i>
                                <strong>Question 4</strong>
                            </p>
                            <p class="grey-text font-small mx-4">Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                                nesciunt sapiente earu proident.
                            </p>
                        </div>
                        <!-- Panel -->

                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-4 mb-5 text-center">

                        <!-- Panel -->
                        <div class="text-left">
                            <p class="title font-weight-bold dark-grey-text text-uppercase spacing mt-4 mx-4">
                                <i class="fas fa-compact-disc text-default mr-2 wow fadeInLeft" data-wow-delay="0.6s" aria-hidden="true"></i>
                                <strong>Question 5</strong>
                            </p>
                            <p class="grey-text font-small mx-4">Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                                nesciunt sapiente earu proident.
                            </p>
                        </div>
                        <!-- Panel -->

                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-4 mb-5 text-center">

                        <!-- Panel -->
                        <div class="text-left">
                            <p class="title font-weight-bold dark-grey-text text-uppercase spacing mt-4 mx-4">
                                <i class="fas fa-compact-disc text-default mr-2 wow fadeInLeft" data-wow-delay="0.7s" aria-hidden="true"></i>
                                <strong>Question 6</strong>
                            </p>
                            <p class="grey-text font-small mx-4">Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                                nesciunt sapiente earu proident.
                            </p>
                        </div>
                        <!-- Panel -->

                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row -->

            </section>
            <!-- Section: FAQ 1 -->

            <hr>

            <!-- Section: FAQ 2 -->
            <section class="mt-3 pt-1 pb-5 mb-5">

                <!-- Section heading -->
                <h3 id="qea" class=" text-center title my-5  dark-grey-text font-weight-bold wow fadeIn" data-wow-delay="0.2s">
                    <strong>Questions / Réponses</strong>
                </h3>

                <h3 class="text-center dark-grey-text wow fadeIn" data-wow-delay="0.3s"> Sommaire :</h3>
                <br>
                <div class="text-center">
                    <a href="#inscription"><h5>Inscription</h5></a>
                    <a><h5>Publication</h5></a>
                    <a><h5>Commentaires</h5></a>
                    <a><h5>Mon Profil</h5></a>
                </div>

                <br><br><br>

                <h4 id="inscription" class="text-center title dark-grey-text font-weight-bold wow fadeIn" data-wow-delay="0.2s">
                    <strong>Inscription</strong>
                </h4>
                <!-- Grid row -->
                <div class="row d-flex justify-content-center">

                    <!-- Grid column -->
                    <div class="col-md-10 col-xl-8">

                        <!-- Accordion wrapper -->
                        <div class="accordion md-accordion" id="accordionEx7" role="tablist" aria-multiselectable="true">

                            <!-- Accordion card -->
                            <div class="card border-0">

                                <!-- Card header -->
                                <div class="card-header pastelgreen lighten-2 z-depth-1 mb-1" role="tab" id="heading10">
                                    <a class="collapsed" data-toggle="collapse" href="#collapse10" aria-expanded="false" aria-controls="collapse10">
                                        <h5 class="mb-0 white-text">
                                            Comment s'inscrire ?
                                            <i class="fas fa-angle-down rotate-icon"></i>
                                        </h5>
                                    </a>
                                </div>

                                <!-- Card body -->
                                <div id="collapse10" class="collapse" role="tabpanel" aria-labelledby="heading10"
                                     data-parent="#accordionEx7">
                                    <div class="card-body mb-1 rgba-pastelgreen-slight white-text text-center">
                                        <img src="{{ asset('images/screens/inscription/img1.JPG') }}">
                                        <p class="dark-grey-text my-4" >

                                            Il suffit de cliquer sur le bouton <a class="btn btn-pastelprimary btn-sm my-2 my-sm-0 " ><i class="fa fa-user-plus"></i>Créer un compte</a>. <br>
                                            Ensuite, plusieurs options s'offrent à vous.
                                            <br>

                                        </p>
                                        <img src="{{ asset('images/screens/inscription/img2.JPG') }}">
                                        <p class="dark-grey-text my-4" >

                                            Vous pouvez vous inscrire via un formulaire classique, ou pour encore plus de simplicité, vous pouvez vous inscrire via Facebook ou Google
                                            <br>

                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- Accordion card -->

                            <!-- Accordion card -->
                            <div class="card border-0">

                                <!-- Card header -->
                                <div class="card-header pastelgreen-darker lighten-2 z-depth-1 mb-1" role="tab" id="heading11">
                                    <a class="collapsed" data-toggle="collapse" href="#collapse11" aria-expanded="false"
                                       aria-controls="collapse11">
                                        <h5 class="mb-0 white-text">
                                            Inscription par Facebook ?
                                            <i class="fas fa-angle-down rotate-icon"></i>
                                        </h5>
                                    </a>
                                </div>

                                <!-- Card body -->
                                <div id="collapse11" class="collapse" role="tabpanel" aria-labelledby="heading11"
                                     data-parent="#accordionEx7">
                                    <div class="card-body mb-1 rgba-pastelgreen-slight white-text text-center">
                                        <img src="{{ asset('images/screens/inscription/img3.JPG') }}">
                                        <p class="dark-grey-text my-4">
                                            Il vous suffit de cliquer sur le petit bouton <a class="btn-floating btn-fb btn-sm"><i class="fa fa-facebook-f"></i></a>. <br>
                                            Ensuite vous serez redirigé sur la page Facebook, afin de saisir vos identifiants de connection. <br>
                                            Une fois cette action effectuée, il vous restera une dernière étape :
                                        </p>
                                        <img src="{{ asset('images/screens/inscription/img4.JPG') }}">
                                        <p class="dark-grey-text my-4">
                                            Félicitations ! Vous faites maintenant parti de nos membres grâce à votre inscription par Facebook !
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- Accordion card -->

                            <!-- Accordion card -->
                            <div class="card border-0">

                                <!-- Card header -->
                                <div class="card-header pastelgreen lighten-2 z-depth-1 mb-1" role="tab" id="heading12">
                                    <a class="collapsed" data-toggle="collapse" href="#collapse12" aria-expanded="false"
                                       aria-controls="collapse12">
                                        <h5 class="mb-0 white-text">
                                            Inscription par Google ?
                                            <i class="fas fa-angle-down rotate-icon"></i>
                                        </h5>
                                    </a>
                                </div>

                                <!-- Card body -->
                                <div id="collapse12" class="collapse" role="tabpanel" aria-labelledby="heading12"
                                     data-parent="#accordionEx7">
                                    <div class="card-body mb-1 rgba-pastelgreen-slight white-text text-center">
                                        <img src="{{ asset('images/screens/inscription/img3.JPG') }}">
                                        <p class="dark-grey-text my-4">
                                            Il vous suffit de cliquer sur le petit bouton <a class="btn-floating btn-red btn-sm"><i class="fa fa-google"></i></a>. <br>
                                            Ensuite vous serez redirigé sur la page Google, afin de saisir vos identifiants de connection. <br>
                                            Une fois cette action effectuée, il vous restera une dernière étape :
                                        </p>
                                        <img src="{{ asset('images/screens/inscription/img5.JPG') }}">
                                        <p class="dark-grey-text my-4">
                                            Félicitations ! Vous faites maintenant parti de nos membres grâce à votre inscription par Google !
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- Accordion card -->

                        </div>
                        <!-- Accordion wrapper -->

                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row -->

                <br><br><br>

                <h4 id="inscription" class="text-center title dark-grey-text font-weight-bold wow fadeIn" data-wow-delay="0.2s">
                    <strong>Publication</strong>
                </h4>
                <!-- Grid row -->
                <div class="row d-flex justify-content-center">

                    <!-- Grid column -->
                    <div class="col-md-10 col-xl-8">

                        <!-- Accordion wrapper -->
                        <div class="accordion md-accordion" id="accordionEx70" role="tablist" aria-multiselectable="true">

                            <!-- Accordion card -->
                            <div class="card border-0">

                                <!-- Card header -->
                                <div class="card-header pastelgreen-darker lighten-2 z-depth-1 mb-1" role="tab" id="heading20">
                                    <a class="collapsed" data-toggle="collapse" href="#collapse20" aria-expanded="false" aria-controls="collapse20">
                                        <h5 class="mb-0 white-text">
                                            Comment s'inscrire ?
                                            <i class="fas fa-angle-down rotate-icon"></i>
                                        </h5>
                                    </a>
                                </div>

                                <!-- Card body -->
                                <div id="collapse20" class="collapse" role="tabpanel" aria-labelledby="heading20"
                                     data-parent="#accordionEx70">
                                    <div class="card-body mb-1 rgba-pastelgreen-slight white-text text-center">
                                        <img src="{{ asset('images/screens/inscription/img1.JPG') }}">
                                        <p class="dark-grey-text my-4" >

                                            Il suffit de cliquer sur le bouton <a class="btn btn-pastelprimary btn-sm my-2 my-sm-0 " ><i class="fa fa-user-plus"></i>Créer un compte</a>. <br>
                                            Ensuite, plusieurs options s'offrent à vous.
                                            <br>

                                        </p>
                                        <img src="{{ asset('images/screens/inscription/img2.JPG') }}">
                                        <p class="dark-grey-text my-4" >

                                            Vous pouvez vous inscrire via un formulaire classique, ou pour encore plus de simplicité, vous pouvez vous inscrire via Facebook ou Google
                                            <br>

                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- Accordion card -->

                            <!-- Accordion card -->
                            <div class="card border-0">

                                <!-- Card header -->
                                <div class="card-header pastelgreen lighten-2 z-depth-1 mb-1" role="tab" id="heading21">
                                    <a class="collapsed" data-toggle="collapse" href="#collapse21" aria-expanded="false"
                                       aria-controls="collapse21">
                                        <h5 class="mb-0 white-text">
                                            Inscription par Facebook ?
                                            <i class="fas fa-angle-down rotate-icon"></i>
                                        </h5>
                                    </a>
                                </div>

                                <!-- Card body -->
                                <div id="collapse21" class="collapse" role="tabpanel" aria-labelledby="heading21"
                                     data-parent="#accordionEx70">
                                    <div class="card-body mb-1 rgba-pastelgreen-slight white-text text-center">
                                        <img src="{{ asset('images/screens/inscription/img3.JPG') }}">
                                        <p class="dark-grey-text my-4">
                                            Il vous suffit de cliquer sur le petit bouton <a class="btn-floating btn-fb btn-sm"><i class="fa fa-facebook-f"></i></a>. <br>
                                            Ensuite vous serez redirigé sur la page Facebook, afin de saisir vos identifiants de connection. <br>
                                            Une fois cette action effectuée, il vous restera une dernière étape :
                                        </p>
                                        <img src="{{ asset('images/screens/inscription/img4.JPG') }}">
                                        <p class="dark-grey-text my-4">
                                            Félicitations ! Vous faites maintenant parti de nos membres grâce à votre inscription par Facebook !
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- Accordion card -->

                            <!-- Accordion card -->
                            <div class="card border-0">

                                <!-- Card header -->
                                <div class="card-header pastelgreen-darker lighten-2 z-depth-1 mb-1" role="tab" id="heading22">
                                    <a class="collapsed" data-toggle="collapse" href="#collapse22" aria-expanded="false"
                                       aria-controls="collapse22">
                                        <h5 class="mb-0 white-text">
                                            Inscription par Google ?
                                            <i class="fas fa-angle-down rotate-icon"></i>
                                        </h5>
                                    </a>
                                </div>

                                <!-- Card body -->
                                <div id="collapse22" class="collapse" role="tabpanel" aria-labelledby="heading22"
                                     data-parent="#accordionEx70">
                                    <div class="card-body mb-1 rgba-pastelgreen-slight white-text text-center">
                                        <img src="{{ asset('images/screens/inscription/img3.JPG') }}">
                                        <p class="dark-grey-text my-4">
                                            Il vous suffit de cliquer sur le petit bouton <a class="btn-floating btn-red btn-sm"><i class="fa fa-google"></i></a>. <br>
                                            Ensuite vous serez redirigé sur la page Google, afin de saisir vos identifiants de connection. <br>
                                            Une fois cette action effectuée, il vous restera une dernière étape :
                                        </p>
                                        <img src="{{ asset('images/screens/inscription/img5.JPG') }}">
                                        <p class="dark-grey-text my-4">
                                            Félicitations ! Vous faites maintenant parti de nos membres grâce à votre inscription par Google !
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- Accordion card -->

                        </div>
                        <!-- Accordion wrapper -->

                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row -->

            </section>
            <!-- Section: FAQ 2 -->
            <button onclick="topFunction()" id="myBtn" class="btn-default" title="Retour au sommaire des Q&R">Retour au sommaire</button>



        </div>
        <!-- Second container -->

    </main>
    <!-- Main content -->

    <script>
        function resize(){
            document.getElementById("footer").classList.remove('stikybottom');
        }
        document.addEventListener("DOMContentLoaded", function (event) {
            document.getElementById("footer").classList.remove('stikybottom');

        }, false);

        window.onresize = resize;

        var mybutton = document.getElementById("myBtn");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function() {scrollFunction()};

        function scrollFunction() {
            console.log(document.body.scrollTop +" - " + document.documentElement.scrollTop);
            if (document.documentElement.scrollTop > 1545) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            window.location.href = "#qea";
        }
    </script>

{% endblock %}