{% extends 'base.html.twig' %}

{% block title %}MusicMate - Bannir{% endblock %}

{% block body %}


    <div class="row heighter">
    <div class="container">
    <div class="row">
    <div class="form-signin col-md-6 offset-3" style="text-align: center; margin-top: 30px">
    <img class="mb-4" src="/images/logo.png" alt="" width="125" height="125">
    <h1 class="h3 mb-3 font-weight-normal">Vous êtes sur le point de bannir {{ userbanned.username }}</h1>

    <!-- Material form login -->
    <div class="card">

    <!--Card content-->
    <div class="card-body px-lg-5 pt-0" style="margin-top: 15px">
    {{ form_start(form) }}

    <div class="md-form mt-0">
        {% if not form.motif.vars.valid %}
            {{ form_widget(form.motif,{'attr':{'class':'md-textarea form-control is-invalid', 'id' : 'mailInput' }}) }}
        {% else %}
            {{ form_widget(form.motif,{'attr':{'class':'md-textarea form-control', 'id' : 'mailInput' }}) }}
        {% endif %}
        <label for="{{ form.motif.vars.id }}">Motif</label>
        {% if not form.motif.vars.valid %}
            <small id="erreurContenu" class="form-text text-muted mb-4 red-text">
                {{ form_errors(form.motif) }}
            </small>
        {% endif %}
    </div>

    <div class="md-form mt-0">
        {{ form_label(form.endBan, 'EndBan' , {'label_attr': {'class': ''}}) }}

    </div>
    <div class="md-form mt-0">
        {{ form_widget(form.endBan, {'attr': {'class': 'browser-default custom-select'}}) }}
    </div>



    <!-- Envoyer -->
    <button class="btn btn-danger btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit" value="{{ form_row(form.submit,{'label':'Bannir'}) }}

                            <!-- Register -->


                        </div>

                    </div>
                    <!-- Material form login -->

                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}