<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}MusicMate{% endblock %}</title>

    {% block stylesheets %}
        <link rel="shortcut icon" href="{{ asset('images/Logo_MusicMate.ico') }}" >
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
        <link rel="stylesheet" href="{{ asset("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css") }}">

        <link rel="stylesheet" href="{{ asset("css/indexStyles.css") }}" />
        <link rel="stylesheet" href="{{ asset("css/style.css") }}" />
        <link rel="stylesheet" href="{{ asset("css/showEvenementsStyles.css") }}" />
        <link rel="stylesheet" href="{{ asset("css/bootstrap.min.css") }}"/>
        <link rel="stylesheet" href="{{ asset("css/mdb.min.css") }}"/>




    {% endblock %}
</head>
<body>
{% include('nav.html.twig') %}

<script>
    function resize(){
        var element = document.querySelector("body");
        var height = element.offsetHeight;
        console.log("Windows innerHeight : " + window.innerHeight + "\n" + "Windows outerHeight : " + window.outerHeight + "\n" + "Body height : " + height);
        if (height < window.innerHeight) {
            document.getElementById("footer").classList.add('stikybottom');
            document.body.style.height = '100%';
        }
        else{
            document.getElementById("footer").classList.remove('stikybottom');
            document.body.style.height = 'inherit';
        }
    }
    document.addEventListener("DOMContentLoaded", function (event) {
        var element = document.querySelector("body");
        var height = element.offsetHeight;
        window.onresize = resize;
        console.log("Windows innerHeight : " + window.innerHeight + "\n" + "Windows outerHeight : " + window.outerHeight + "\n" + "Body height : " + height);
        if (height < window.innerHeight) {
            document.getElementById("footer").classList.add('stikybottom');
            document.body.classList.add('fix');
        }
        else{
            document.getElementById("footer").classList.remove('stikybottom');
            document.body.classList.remove('fix');
        }
    }, false);


</script>

{% block body %}{% endblock %}
{% block javascripts %}
    <script src="{{ asset("js/jquery-3.4.1.min.js") }}"></script>
    <script src="{{ asset("js/popper.min.js") }}"></script>
    <script src="{{ asset("js/bootstrap.min.js") }}"></script>
    <script type="text/javascript" src="{{  asset("bower_components/spotify-web-api-js/src/spotify-web-api.js") }}"></script>

    <script src="{{ asset("js/mdb.min.js") }}"></script>

    <script>
        /* WOW.js init */
        new WOW().init();
    </script>

{% endblock %}
</body>

{% include('footer.html.twig') %}
</html>