{% extends 'base.html.twig' %}

{% block title %}Hello SpotifyController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ me.display_name }}! ✅</h1>


    {{ dump(me) }}
    {{ dump(current) }}

    {{ form_start(form) }}
    {{ form_widget(form.search,{'attr':{'class':'write_msg'}}) }}
    <button class="msg_send_btn" type="submit" id="sendbtn">CHERCHER</button>
    {{ form_end(form) }}

    <img id="cover" src="">

    <div id="time" ></div>

    <a type="button" onclick="prev()" class="btn-floating btn-rounded btn-sm btn-info dropdown-toggle"><i class="fas fa-step-backward"></i></a>
    <a type="button" id="action" onclick="action()" class="btn-floating btn-rounded btn-sm btn-green dropdown-toggle"><i class="fas fa-play"></i></a>
    <a type="button" onclick="next()" class="btn-floating btn-rounded btn-sm btn-info dropdown-toggle"><i class="fas fa-step-forward"></i></a>



    <div class="row" style="border: solid">
        <div id="progress" class="red">
            <br>
        </div>
    </div>
</div>
    <script type="text/javascript" src="{{  asset("bower_components/spotify-web-api-js/src/spotify-web-api.js") }}"></script>
    <script>
        var spotifyApi = new SpotifyWebApi();
        spotifyApi.setAccessToken('{{ auth }}');
        var track;
        var currenttrack;
        spotifyApi.getMyCurrentPlayingTrack().then(
            function (data) {
                track = data;
                document.getElementById('cover').src = track['item']['album']['images'][1]['url'] ;
                var title = track['item']['name'] + "  -  ";
                track['item']['artists'].forEach((artist) => {
                    title += artist['name'] + "  "
                });
                document.getElementById('time').innerHTML = title;
            },
            function (err) {
                console.error(err);
            }
        );


        window.setInterval(function(){
            spotifyApi.getMyCurrentPlayingTrack().then(
                function (data) {
                    track = data;
                },
                function (err) {
                    console.error(err);
                }
            );
            var dif = (parseInt(track['progress_ms']) / parseInt(track['item']['duration_ms'])) * 100;
            document.getElementById('progress').style.width = dif + '%';
            if(track['progress_ms'] < 500){
                reload();
            }
        }, 100);

        function reload(){
            spotifyApi.getMyCurrentPlayingTrack().then(
                function (data) {
                    track = data;
                },
                function (err) {
                    console.error(err);
                }
            );
            document.getElementById('cover').src = track['item']['album']['images'][1]['url'] ;
            var title = track['item']['name'] + "  -  ";
            track['item']['artists'].forEach((artist) => {
                title += artist['name'] + "  "
            });
            document.getElementById('time').innerHTML = title;
        }

        function action() {
            spotifyApi.getMyCurrentPlaybackState().then(
                function (data) {
                    currenttrack = data;
                },
                function (err) {
                    console.error(err);
                }
            );
            if (currenttrack['is_playing']) {
                pause();
                document.getElementById('action').innerHTML = '<i class="fas fa-play"></i>';
            }
            else{
                play();
                document.getElementById('action').innerHTML = '<i class="fas fa-pause"></i>';

            }
        }

        function play() {
            spotifyApi.play().then(
                function (err) {
                    console.error(err);
                }
            );
        }

        function pause() {
            spotifyApi.pause().then(
                function (err) {
                    console.error(err);
                }
            );
        }

        function prev(){
            spotifyApi.skipToPrevious().then(

            );
        }

        function next(){
            spotifyApi.skipToNext().then(

            );
        }

    </script>
{% endblock %}
